body{
    background-color: rgb(129, 129, 129);
    margin: 0%;
}


header{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 40px;
    background-color: rgb(61, 0, 0);
    color: white;
}

footer{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: rgb(61, 0, 0);
    padding: 40px;

}

main{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    /* margin-top: 330px auto; */
    padding-top: 275px;
    padding-bottom: 275px;
}

#nome{
    background-color: rgba(255, 255, 255, 0);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    decoration: none;
    color: white;
    border-color: rgb(255, 255, 255);
    
}

#msg{
    background-color: rgba(255, 255, 255, 0);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    decoration: none;
    color: white;
    border-color: rgb(255, 255, 255);
}

#btn{
    background-color: rgb(226, 0, 0);
    padding: 10px;
    border-radius: 10px;
    width: 130px;
    height: 40px;
    border: 0px;
    color: rgb(255, 255, 255);
    font-size: x-large;
    
    
}

#btn:hover{
    background-color: rgb(104, 0, 0);
    padding: 10px;
    border-radius: 10px;
    width: 140px;
    height: 50px;
    border: 0px;
    color: rgb(255, 255, 255);
    font-size: x-large;
}
form{
    justify-content: center;
}

/* #mensagem {
    display: none; 
} */

/* #mensagens{
    background-color: rgba(219, 0, 0, 0.589);
    
    
    

} */

/* #mensagens:not(:empty) {
    display: block; 
} */
/* #ico{
    
    height: 40px;
    width: 40px;
} */

.user-message {
    background-color: rgba(189, 0, 0, 0.644); 
    color: rgb(255, 255, 255);
    margin: 5px;
    padding: 5px;
    border-radius: 30px;
    text-align: right;
}

#mensagens li:not(.user-message) {
    background-color: rgba(37, 37, 37, 0.651); 
    color: rgb(255, 255, 255);
    margin: 5px;
    padding: 5px;
    border-radius: 30px;
    text-align: left;
}

